@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------What we do section------------------*/
.heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 70.56px;
    text-align: center;
    color: #000000;
}

.Card {
    padding: 24px;
    border-radius: 24px;
}

.Card:hover {
    box-shadow: 0px 0px 12px 3px #B6B6B640;
}

.img {
    border-radius: 12px;
}

.card-heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    padding-top: 24px;
    width: 316px;

}

.card-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #000000;
}

.learn-more {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
    color: #FF0000;
    padding-left: 10px;
    text-decoration: none;
}

/*----------------What we do section over------------------*/
/*-----------------------padding---------------------------*/
.padding {
    padding-bottom: 56px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-5 {
    padding-left: 5px;
}

/*-----------------------padding---------------------------*/
/*---------------------------gap---------------------------*/
.gap-50 {
    gap: 50px;
}

.gap-24 {
    gap: 24px;
}

/*---------------------------gap---------------------------*/
/*--------------------customer section---------------------*/
.main-para {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #010101;
    padding-bottom: 32px;
    padding-top: 20px;
}

.white-Card {
    max-width: 229.17px;
    border: 0.83px solid #14141426;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 5px;
    margin-bottom: 50px;
    width: 100%;
}

.google {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.hero-rating {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #141414;
    margin-bottom: 0;
}

.hero-review {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: black;
    margin-bottom: 0;
}

.fw-600 {
    font-weight: 600;
}

.card-line {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #000000;
    margin-top: 0 !important;
}

.card-para {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    padding-top: 16px;
}

.post-box {
    padding: 24px;
    box-shadow: 0px 2px 44px 3px #5757571A;
    max-width: 364px !important;
    margin-right: 24px;
    margin-bottom: 40px;
    border-radius: 24px;
}

.post-img {
    height: 40px;
    width: 40px;
    padding-right: 8px;
}

.mb-30 {
    margin-bottom: 30px;
}

/*----------------customer section over---------------*/
@media(max-width:578px) {
    .form {
        flex-direction: column !important;
    }

    .padding {
        padding-bottom: 0;
    }

    .post-box {
        padding: 50px;
    }

    .card-heading {
        max-width: 260px;
    }

    .white-Card {
        margin-bottom: 0;
    }

    .heading {
        font-size: 40px;
    }
}