@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* -------------hero section ------------------- */
.nav-link {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.nav-link:hover {
    color: #FF0000;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 100ms linear;
    background-color: #FF0000 !important;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.gap-28 {
    gap: 28px;
}

.br-30 {
    border-radius: 50px;
}

.pt-13 {
    padding-top: 13px;
}

.p-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.tel {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    background-color: #FF0000;
    color: white !important;
    text-decoration: none;
    padding-left: 10px;
    padding: 16px 20px;
    border-radius: 50px;
    border: 2px solid #FF0000;
}

.tel:hover {
    background-color: white;
    color: #FF0000 !important;
}

.tel:hover svg path {
    fill: red;
}

.hero-back {
    background-image: url(../images/png/heroback.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: white;
}

.ml-100 {
    margin-left: 100px;
}

.hero-heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 80.64px;
    text-align: left;
    color: white !important;
    max-width: 830px;
    padding-bottom: 20px;
}

.py-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}

.hero-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: white;
    max-width: 742px;
    padding-bottom: 36px;
}

.hero-btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: white;
    background-color: #FF0000;
    padding: 20px 32px;
    border-radius: 50px;
    border: 2px solid #FF0000;
}

.hero-btn:hover {
    background-color: white;
    color: #FF0000;
}

.white-Card {
    max-width: 229.17px;
    background: white;
    border-radius: 16px;
    padding: 6px;
    width: 100%;
    border: 1px solid #14141426
}

.google {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.hero-rating {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #141414;
    margin-bottom: 0;
}

.pl-10 {
    padding-left: 10px;
}

.hero-review {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: black;
    margin-bottom: 0;
}

.gap-24 {
    gap: 24px;
}

.hero1 {
    width: 81px;
    height: 80px;
}

.hero2 {
    width: 80px;
    height: 80px;
}

/* -------------------hero end ----------------- */
.heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 70.56px;
    text-align: center;
    color: #000000;
}

.Card1 {
    padding: 24px;
    border-radius: 24px;
}

.Card1:hover {
    box-shadow: 0px 0px 12px 3px #B6B6B640;
}

.img {
    border-radius: 12px;
}

.card-heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    padding-top: 24px;
    width: 316px;
}

.card-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #000000;
}

.learn-more {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
    color: #FF0000;
    padding-left: 10px;
    text-decoration: none;
}

/*----------------What we do section over------------------*/
.bg-color {
    background: rgba(255, 235, 235, 1);
}

.card-image .heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    line-height: 70.56px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.card-text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.px-150 {
    padding-left: 150px;
    padding-right: 150px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sub-heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.mw-380 {
    max-width: 380px;
}

.mw-508 {
    max-width: 508px;
}

.gap-20 {
    gap: 20px;
}

.box {
    width: 62px;
    height: 62px;
    background: rgba(180, 0, 1, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-card {
    width: 300px;
    height: 396px;
    top: 39%;
    background: rgba(255, 0, 0, 1);
    border-radius: 24px;
}

.img-set {
    max-width: 469px;
    left: 14%;
    z-index: 5;
}

.card-btn {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 0, 0, 1);
    border-radius: 56px;
    padding: 20px 32px;
    border: 0;
    cursor: pointer;
    transition: all 300ms linear;
}

.card-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 0, 0, 1);
    border: 2px solid rgba(255, 0, 0, 1);

}

.call-card:hover .call-animation {
    border: solid 5px rgb(252, 241, 241);
    animation: call 1.5s ease infinite;
    font-weight: bold;
    position: relative;
}

@keyframes call {
    15% {
        box-shadow: 0 0 0 4px rgba(170, 161, 161, 0.5);
    }

    25% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5),
            0 0 0 16px rgba(255, 255, 255, 0.3);
    }

    30% {
        box-shadow: 0 0 0 12px rgba(224, 221, 221, 0.5),
            0 0 0 24px rgba(255, 255, 255, 0.3);
    }
}

.like-card:hover .like-animation {
   animation: like 0.5s 1;
    fill: red;
    stroke: none;
}

@-webkit-keyframes like {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

.sec5-img {
    max-width: 435px;
    left: 10%;
    top: 120%;
    z-index: 5;
}

.gap-12 {
    gap: 12px;
}

.red-card1 {
    width: 300px;
    height: 396px;
    background: rgba(255, 0, 0, 1);
    border-radius: 24px;
    top: 40%;
}

.Card {
    background: #ffffff !important;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 24px;
    box-shadow: 0px 1px 28px 1px rgba(71, 71, 71, 0.1) !important;
}

.mw-592 {
    max-width: 592px;
}

.circle {
    background: rgba(255, 0, 0, 1);
    border-radius: 50%;
    padding: 9px;
    width: 48px;
    height: 48px;
}

.card-head {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.p-24 {
    padding: 24px;
}
.text-align-left{
    text-align: left;
}

/* -----------------choose end ----------------- */
/*-----------------------padding---------------------------*/
.padding {
    padding-bottom: 56px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-5 {
    padding-left: 5px;
}

/*-----------------------padding---------------------------*/
/*---------------------------gap---------------------------*/
.gap-50 {
    gap: 50px;
}

.gap-24 {
    gap: 24px;
}

/*---------------------------gap---------------------------*/
/*--------------------customer section---------------------*/
.main-para {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #010101;
    padding-bottom: 32px;
    padding-top: 20px;
}

.white-Card {
    max-width: 229.17px;
    border: 0.83px solid #14141426;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 5px;
    margin-bottom: 50px;
    width: 100%;
}

.google {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.hero-rating {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #141414;
    margin-bottom: 0;
}

.hero-review {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: black;
    margin-bottom: 0;
}

.fw-600 {
    font-weight: 600;
}

.card-line {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #000000;
    margin-top: 0 !important;
}

.card-para {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    padding-top: 16px;
}

.post-box {
    padding: 24px;
    box-shadow: 0px 2px 44px 3px #5757571A;
    max-width: 364px !important;
    margin-right: 24px;
    margin-bottom: 40px;
    border-radius: 24px;
}

.post-img {
    height: 40px;
    width: 40px;
    padding-right: 8px;
}

.mb-30 {
    margin-bottom: 30px;
}

/*----------------customer section over---------------*/
/* ----------------get in touch---------------- */
.layer {
    position: relative;
}

.layer::after {
    background: #FF0000BF;
    content: '';
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    border-radius: 40px;
}

.get-heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 70.56px;
    text-align: center;
    color: white;
    padding-top: 64px;
    padding-bottom: 20px;
}

.bg-image {
    background-image: url(../images/png/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

.get-pera {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: white;
}

.get-btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #FF0000;
    padding: 20px 32px;
    border-radius: 50px;
    background-color: white;
    margin-top: 36px;
    margin-bottom: 64px;
    cursor: pointer;
    border: 2px solid #FF0000;
}

.z-index-4 {
    z-index: 4;
}

.get-btn:hover {
    color: white;
    background: #FF0000;
}

/* -----------------get in touch --------------------- */
/* --------------accordion------------- */
.accordion-heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 70.56px;
    text-align: center;
    color: black;
}

.accordion-pera {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: black;
    padding-top: 20px;
    max-width: 641px;
}

.accordion-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: black !important;
}

.back-white {
    box-shadow: 0px 2px 44px 3px #5757571A !important;
    border-radius: 16px !important;
}

.bg-white {
    background-color: white !important;
}

.b-none {
    border: none !important;
}

.shadow-none {
    box-shadow: none !important;
}

.icon-btn::after {
    background-image: url(../images/svg/accordion.svg) !important;
    margin-left: auto;
    background-position: center;
}

.mt-52 {
    margin-top: 52px;
}

.mw-912 {
    max-width: 912px;
}

/* -----------footer--------------- */
.mail {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: black !important;
    text-decoration: none;
}

.gap-10 {
    gap: 10px;
}

.red-circle {
    width: 32px;
    height: 32px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-main-links {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
}

.footer-links {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: black;
    text-decoration: none;
    position: relative;
}

.footer-links:hover {
    color: #FF0000;
}

.footer-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 100ms linear;
    background-color: #FF0000 !important;
}

.footer-links:hover::after {
    width: 100%;
    left: 0;
}

.footer-btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: white;
    background-color: #FF0000;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    border: 2px solid #FF0000;
}

.footer-btn:hover {
    background-color: white;
    color: #FF0000;
}

.footer-label {
    width: 100%;
    padding: 10px;
    max-width: 340px;
}

.email {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #81848A;
    border: none;
    width: 100%;
    outline: none;
}

.border-r {
    border: 2px solid #00000026;
    border-radius: 50px;
    padding: 15px;
}

.border_bottom {
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(22, 22, 22, 0) 0%, #696969 51.56%, rgba(22, 22, 22, 0) 100%)1;
}

.footer_text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: black;
}


/* -----------responsive ------------------ */
@media (max-width:1200px) {
    label[for="menubar"]>span {
        transition: all 200ms linear;
    }

    input:checked~label[for="menubar"] span:nth-child(2) {
        opacity: 0;
        transform: translate(-55px);
    }

    input:checked~label[for="menubar"] span:first-child {
        transform: rotate(55deg);
        transform-origin: left;
    }

    input:checked~label[for="menubar"] span:last-child {
        transform: rotate(-55deg);
        transform-origin: left;
    }

    label[for="menubar"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="menubar"]>span {
        width: 100%;
        height: 5px;
        background-color: #FF0000;
        border-radius: 2px;
    }

    .mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: white;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked~ul {
        left: 0;
    }
}

@media(max-width:768px) {
    .review {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:576px) {
    .img-set {
        left: 20%;
        max-width: 218px;
    }

    .card-image {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .red-card {
        top: 39%;
        width: 175px;
        height: 175px;
        left: 10%;
    }

    .sec5-img {
        left: 20%;
        max-width: 170px;
    }

    .red-card1 {
        top: 42%;
        width: 121px;
        height: 154px;
        left: 13%;
    }

    .card-btn {
        margin-bottom: 10px;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .heading {
        line-height: 42px;
    }

    .card-text {
        line-height: 25.8px;
    }

    .sub-heading {
        line-height: 15px;
    }

    .form {
        flex-direction: column !important;
    }

    .padding {
        padding-bottom: 0;
    }

    .post-box {
        padding: 50px;
    }

    .card-heading {
        max-width: 260px;
    }

    .white-Card {
        margin-bottom: 0;
    }
    .footer-btn{
        padding: 10px 17px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .img-set {
        left: 31%;
        max-width: 227px;
    }

    .card-image {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .red-card {
        top: 41%;
        width: 175px;
        height: 175px;
        left: 24%;
    }

    .sec5-img {
        left: 27%;
        max-width: 234px;
    }

    .red-card1 {
        top: 44%;
        width: 209px;
        height: 212px;
        left: 18%;
    }

    .card-btn {
        margin-bottom: 10px;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .heading {
        line-height: 47px;
    }

    .card-text {
        line-height: 27.8px;
    }

    .sub-heading {
        line-height: 17px;
    }
}