@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navlink {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.navlink:hover {
    color: #FF0000;
}

.navlink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 100ms linear;
    background-color: #FF0000 !important;
}

.navlink:hover::after {
    width: 100%;
    left: 0;
}


.gap-28 {
    gap: 28px;
}

.br-30 {
    border-radius: 50px;
}

.pt-13 {
    padding-top: 13px;
}

.p-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.tel {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    background-color: #FF0000;
    color: white !important;
    text-decoration: none;
    padding-left: 10px;
    padding: 16px 20px;
    border-radius: 50px;
    border: 2px solid #FF0000;
}

.tel:hover {
    background-color: white;
    color: #FF0000 !important;
}

.tel:hover svg path {
    fill: red;
}

.hero-back {
    background-image: url(../images/heroback.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: white;
}

.ml-100 {
    margin-left: 100px;
}

.hero-heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 80.64px;
    text-align: left;
    color: white !important;
    max-width: 830px;
    padding-bottom: 20px;
}

.py-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}

.hero-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: white;
    max-width: 742px;
    padding-bottom: 36px;
}

.herobtn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: white;
    background-color: #FF0000;
    padding: 20px 32px;
    border-radius: 50px;
    border: 2px solid #FF0000;
}

.herobtn:hover {
    background-color: white;
    color: #FF0000;
}

.white-Card {
    max-width: 229.17px;
    background: white;
    border-radius: 16px;
    padding: 6px;
    width: 100%;
    border: 1px solid #14141426
}

.google {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.hero-rating {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #141414;
    margin-bottom: 0;
}

.pl-10 {
    padding-left: 10px;
}

.hero-review {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: black;
    margin-bottom: 0;
}

.gap-24 {
    gap: 24px;
}

/* --------------accordion------------- */
.accordion-heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 70.56px;
    text-align: center;
    color: black;
}

.accordion-pera {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: black;
    padding-top: 20px;

}

.accordion-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: black !important;
}

.back-white {
    box-shadow: 0px 2px 44px 3px #5757571A !important;
    border-radius: 16px !important;

}

.bg-white {
    background-color: white !important;
}

.b-none {
    border: none !important;
}

.shadow-none {
    box-shadow: none !important;
}

.icon-btn::after {
    background-image: url(../images/svg/svg) !important;
    margin-left: auto;
    background-position: center;

}

.mt-52 {
    margin-top: 52px;
}
.mw-912{
    max-width: 912px;
}
/* -----------footer--------------- */
.mail {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: black !important;
    text-decoration: none;

}

.gap-10 {
    gap: 10px;
}

.red-circle {
    width: 32px;
    height: 32px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-mainlinks {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
}

.footer-links {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: black;
    text-decoration: none;
    position: relative;
}

.footer-links:hover {
    color: #FF0000;

}

.footer-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 100ms linear;
    background-color: #FF0000 !important;
}

.footer-links:hover::after {
    width: 100%;
    left: 0;
}

.footerbtn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: white;
    background-color: #FF0000;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    border: 2px solid #FF0000;
}

.footerbtn:hover {
    background-color: white;
    color: #FF0000;
}

.footer-label {
    width: 100%;
    padding: 10px;
    max-width: 340px;
}

.email {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #81848A;
    border: none;
    width: 100%;
}

.border-r {
    border: 2px solid #00000026;
    border-radius: 50px;
    padding: 15px;


}

.border_bottom {
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(22, 22, 22, 0) 0%, #696969 51.56%, rgba(22, 22, 22, 0) 100%)1;
}

.footer_text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: black;
}


/* -----------responsive ------------------ */
@media (max-width:1200px) {
    label[for="menubar"]>span {
        transition: all 200ms linear;
    }

    input:checked~label[for="menubar"] span:nth-child(2) {
        opacity: 0;
        transform: translate(-55px);
    }

    input:checked~label[for="menubar"] span:first-child {
        transform: rotate(55deg);
        transform-origin: left;
    }

    input:checked~label[for="menubar"] span:last-child {
        transform: rotate(-55deg);
        transform-origin: left;
    }

    label[for="menubar"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="menubar"]>span {
        width: 100%;
        height: 5px;
        background-color: #FF0000;
        border-radius: 2px;
    }

    ul.mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: white;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked~ul {
        left: 0;
    }
}

@media(max-width:768px) {
    .review {
        display: flex;
        flex-wrap: wrap;
    }
}